.container{
    width: 300px;
    height: 300px;
    position: relative;
    border: 1px solid black;
    margin: calc(100vh - 70vh) auto;
}
.naslov{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
#green{
    position: absolute;
    background-color: green;
    width: 150px;
    height: 150px;
    animation: green 3s ease-out;
    transform-origin: top left;
    animation-iteration-count: infinite;
}


#blue{
    position: absolute;
    background-color: blue;
    width: 150px;
    height: 150px;
    right: 0px;
    animation: blue 3s ease-out;
    transform-origin: top right;
    animation-iteration-count: infinite;
}

#red{
    position: absolute;
    background-color: red;
    width: 150px;
    height: 150px;
    bottom: 0px;
    animation: red 3s ease-out;
    transform-origin: bottom left;
    animation-iteration-count: infinite;
}

#yellow{
    position: absolute;
    background-color: yellow;
    width: 150px;
    height: 150px;
    bottom: 0px;
    right: 0px;
    animation: yellow 3s ease-out;
    transform-origin: bottom right;
    animation-iteration-count: infinite;
}

@keyframes green{
    0%{ transform: rotate(0deg);}
    50%{ transform: rotate(270deg);}
}

@keyframes blue{
    0%{ transform: rotate(0deg);}
    50%{transform: rotate(-270deg);}
}

@keyframes red{
    0%{ transform: rotate(0deg);}
    50%{transform: rotate(-270deg);}
}

@keyframes yellow{
    0%{ transform: rotate(0deg);}
    50%{transform: rotate(270deg);}
}